<script src="https://unpkg.com/vue@3"></script>

<script type="module">
    Vue.createApp({
        data(){
            return{
                awesome: 0
            }
        },
        methods:{
            toggle(){
                if (this.awesome <2){ 
                    this.awesome++ 
                } 
                else{
                    this.awesome = 0
                }
                    
            }
        }

    }).mount("#app")
</script>


<div id="app">
<button @click="toggle"> toggle </button>
<h1 v-if="awesome == 0"> Vue is awesome! </h1>
<h1 v-if="awesome == 1"> for real! </h1>
<h1 v-if="awesome == 2"> it is really cool! </h1>
</div>